<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatos Y Perros</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

</head>

<body>
    <header>
        <%- include('./partials/nav'); %>
    </header>

    <!-- Renderizo este mensaje si hay gatos, pero si no hay, quiero renderizar un mensaje que diga 'There no animals at the moment'-->

    <% if (animals.length!=0) { %>
        <h1>List of all the <%= animalType %>
        </h1>
        <% } else { %>
            <h1>There are no <%= animalType %> at the moment</h1>
            <% } %>



                <section class="container">
                    <% animals.forEach(function(a) { %>
                        <a href="/animal/<%= animalType %>/<%= a.id %>">
                            <p>
                                <%= a.name %>
                                    <img style="width:100px" src="<%= a.image %>" alt="">
                            </p>
                        </a>
                        <% }); %>
                </section>

</body>

</html>